<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{list.name}} — <code>{{list.id}}</code>
            <!-- {{list|json}} -->
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- <form #myform>
            <mat-form-field>
                <mat-icon matPrefix>add</mat-icon>
                <input matInput name="newItem" [(ngModel)]="newItem" maxlength="50" autocomplete="off" />
            </mat-form-field>
        </form> -->
        <button mat-raised-button extended (click)="addItem()"><mat-icon>add</mat-icon>Add item</button>
        <mat-list>
            <ol>
                @for (item of list.items; track item) {
                <li>
                    <mat-list-item>{{item}}</mat-list-item>
                </li>
                }
            </ol>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="backend.deleteList(list.id)">Delete</button>
    </mat-card-actions>
</mat-card>