@use '@angular/material' as mat;
@use './mytheme';

@include mat.core();

html {
    height: 100%;
}

body {
    // Default dark theme.
    @include mat.all-component-themes(mytheme.$dark-theme);

    @media (prefers-color-scheme: light) {
        @include mat.all-component-colors(mytheme.$light-theme);
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}